@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&family=Noto+Sans:wght@200;300;400;500;600&display=swap");
/* ==================== 色一覧 ==================== */
/* ==================== 側設定 ==================== */
html {
  font-family: "futura", "futura-pt", "Noto Sans JP", "Noto Sans", "sans-serif";
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
}

/* ============================================================================================================
                                                メインコンテンツ
============================================================================================================ */
main {
  position: relative;
  width: 100%;
  height: 100%;
}

.inner {
  padding: 0px 20px;
  margin-left: auto;
  margin-right: auto;
}

.section {
  visibility: hidden;
  transition: all 0.5s;
  transform: translateY(100px);
  opacity: 0;
}
.section.section--active {
  visibility: visible;
  transform: translateY(0px);
  opacity: 1;
}

.section__title {
  font-size: 40px;
  font-family: "futura";
  font-weight: 500;
  color: #333333;
  text-align: left;
  letter-spacing: 0.1em;
  line-height: 50px;
}

@media screen and (max-width: 768px) {
  .section__title {
    font-size: 30px;
    font-family: "futura";
    font-weight: 300;
    color: #333333;
    text-align: left;
    letter-spacing: 0.1em;
    line-height: 28px;
    margin-bottom: 6px;
  }
}
.title__ja {
  font-size: 16px;
  font-family: "源ノ角ゴシック JP";
  font-weight: 400;
  color: #333333;
  text-align: left;
  letter-spacing: 0.1em;
  line-height: 24px;
  margin-bottom: 35px;
}

@media screen and (max-width: 768px) {
  .title__ja {
    font-size: 12px;
    font-family: "源ノ角ゴシック JP";
    font-weight: 200;
    color: #333333;
    text-align: left;
    letter-spacing: 0.1em;
    line-height: 28px;
    margin-bottom: 40px;
  }
}
.header {
  width: 100%;
  height: 85px;
  position: fixed;
  -webkit-animation: head 4s 1;
          animation: head 4s 1;
  z-index: 10;
}
.header .inner {
  max-width: 1180px;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.header .inner .header__logo__link {
  z-index: 10;
}
.header .inner .header__logo__link .header__logo {
  width: 74px;
  height: 60px;
}
.header .inner .humbergar {
  position: relative;
  width: 40px;
  height: 40px;
  cursor: pointer;
}
.header .inner .humbergar .bar--01 {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
  width: 40px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 2px;
}
.header .inner .humbergar .bar--02 {
  position: absolute;
  top: 70%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: all 0.2s;
  width: 40px;
  height: 3px;
  background-color: #ffffff;
  border-radius: 2px;
}
.header .inner .humbergar.active__humbergar .bar--01 {
  top: 50%;
  transform: translate(-50%, -50%) rotate(45deg);
}
.header .inner .humbergar.active__humbergar .bar--02 {
  top: 50%;
  transform: translate(-50%, -50%) rotate(-45deg);
}
.header .inner .header__navi {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  background-color: #21221c;
  transition: all 0.3s;
  transform: translateX(90%);
  opacity: 0;
  cursor: pointer;
  z-index: -10;
}
.header .inner .header__navi .header__navi__menu {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 60px;
}
.header .inner .header__navi .header__navi__menu .navi__menu__item {
  transition: all 0.3s;
  list-style: none;
}
.header .inner .header__navi .header__navi__menu .navi__menu__item .item--link {
  font-size: 24px;
  font-weight: normal;
  font-family: "futura";
  color: #ffffff;
  text-align: center;
  text-decoration: none;
  letter-spacing: 0.05em;
  line-height: 24px;
  cursor: pointer;
}
.header .inner .header__navi .header__navi__menu .navi__menu__item:hover {
  filter: brightness(0.8);
}
.header .inner .header__navi.active__navi {
  visibility: visible;
  transform: translateX(0%);
  opacity: 1;
}
.header.header--bg {
  background-color: rgba(51, 51, 51, 0.3);
}

@media screen and (max-width: 768px) {
  .header {
    width: 100%;
    height: 75px;
  }
  .header .inner .header__logo__link {
    display: block;
    z-index: 10;
  }
  .header .inner .header__logo__link .header__logo {
    width: 61px;
    height: 52px;
  }
  .header .inner .humbergar {
    position: relative;
  }
  .header .inner .header__navi {
    padding: 200px 0px;
  }
}
@media screen and (max-width: 425px) {
  .header {
    width: 100%;
    height: 70px;
  }
}
@-webkit-keyframes head {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  20% {
    opacity: 0;
    transform: translateY(-100px);
  }
  80% {
    opacity: 0.3;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
@keyframes head {
  0% {
    opacity: 0;
    transform: translateY(-100px);
  }
  20% {
    opacity: 0;
    transform: translateY(-100px);
  }
  80% {
    opacity: 0.3;
    transform: translateY(-100px);
  }
  100% {
    opacity: 1;
    transform: translateY(0px);
  }
}
/*# sourceMappingURL=header.css.map */