@charset "utf-8";
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@300;400;500;700&family=Noto+Sans:wght@200;300;400;500;600&display=swap');


/* ==================== 色一覧 ==================== */
$c-text: #333333;
$c-white: #ffffff;
$c-white-hover: #E2E6EA;
$c-bgcolor01: #2C2E26;
$c-bgcolor02: #DDDDDD;
$c-main: #184C96;
$c-main-hover: #113569;

/* ==================== 側設定 ==================== */
html {
  font-family: 'futura','futura-pt' ,'Noto Sans JP','Noto Sans','sans-serif';
  scroll-behavior: smooth;
}

body {
  position: relative;
  width: 100%;
}

/* ============================================================================================================
                                                メインコンテンツ
============================================================================================================ */
main {
  position: relative;
  width: 100%;
  height: 100%;
}

.inner {
  padding: 0px 105px ;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width:768px) {
  .inner {
    padding: 0px 20px ;
  }  
}

.section__under--title {
  font-size: 40px;
  font-family: "futura";
  font-weight: 500;
  color: $c-text;
  text-align: left;
  letter-spacing: 0.1em;
  line-height: 52px;  
}
@media screen and(max-width:768px){
  .section__under--title {
    font-size: 30px;
    font-family: "futura";
    font-weight: 300;
    color: $c-text;
    text-align: left;
    letter-spacing: 0.1em;
    line-height: 28px;
    margin-bottom: 6px;
  }  
}
.under__title--ja {
  font-size: 14px;
  font-family: "源ノ角ゴシック JP";
  font-weight: 400;
  color: $c-text;
  text-align: left;
  letter-spacing: 0.1em;
  line-height: 24px;
  margin-bottom: 35px;  
}
@media screen and(max-width:768px){
  .under__title--ja {
    font-size: 12px;
    font-family: "源ノ角ゴシック JP";
    font-weight: 200;
    color: $c-text;
    text-align: left;
    letter-spacing: 0.1em;
    line-height: 24px;
    margin-bottom: 40px;
  }  
}



//ここから下層ページの指定です。
//section__under__about
#section__under__about {
    width: 100%;
    background-color: $c-bgcolor02;
    padding-top: 120px;
    padding-bottom: 70px;
    .under__about--navi {
      width: 100%;
      margin-bottom: 40px;
      .under__about--list {
        font-size: 15px;
        font-family: "源ノ角ゴシック";
        font-weight: 500;
        color: $c-text;
        line-height: 28px;
        letter-spacing: 0.05em;
        list-style: none;
      }
    }
    .under__about__contents {
      width: 100%;
      display: flex;
      align-items: center;
      gap: 80px;
      .under__about__left {
        width: 200px;
        height: 200px;
        .about__left--img {
          border-radius: 50%;
          box-shadow: 6px 6px 20px #656565;
        }
      }
      .under__about__right {
        width: 60%;
        .about__right__content {
          width: 100%;
          .right__content__item {
            .contenm__item--name {
              width: 200px;
              font-size: 15px;
              font-weight: normal;
              font-family: "源ノ角ゴシック";
              text-align: left;
              letter-spacing: 0.05em;
              line-height:28px ;
              padding: 10px 10px;
            }
            .contenm__item--text {
              font-size: 15px;
              font-weight: normal;
              font-family: "源ノ角ゴシック";
              text-align: left;
              letter-spacing: 0.05em;
              line-height:28px ;
              padding: 10px 10px;
            }
          }
        }
      }
    }
  }
  @media screen and(max-width:768px){
    #section__under__about {
      width: 100%;
      padding-top: 100px;
      padding-bottom: 50px;
      .under__about--navi {
        width: 100%;
        margin-bottom: 50px;
        .under__about--list {
          font-size: 14px;
          line-height: 28px;
        }
      }
      .under__about__contents {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        .under__about__left {
          width: 200px;
          height: 200px;
        }
        .under__about__right {
          width: 100%;
          .about__right__content {
            width: 100%;
            .right__content__item {
              .contenm__item--name {
                width: 160px;
                font-size: 14px;
              }
              .contenm__item--text {
                font-size: 14px;
              }
            }
          }
        }
      }
    }  
  }
  @media screen and(max-width:425px){
    #section__under__about {
      width: 100%;
      padding-top: 100px;
      padding-bottom: 50px;
      .under__about--navi {
        width: 100%;
        margin-bottom: 50px;
        .under__about--list {
          font-size: 14px;
          line-height: 28px;
        }
      }
      .under__about__contents {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
        .under__about__left {
          width: 200px;
          height: 200px;
        }
        .under__about__right {
          width: 100%;
          .about__right__content {
            width: 100%;
            .right__content__item {
              .contenm__item--name {
                width: 85px;
                font-size: 14px;
                padding: 5px 5px;
              }
              .contenm__item--text {
                font-size: 14px;
              }
            }
          }
        }
      }
    }  
  }
  